@model MelodyMusicLibrary.ViewModels.GenreViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Genre</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" value="@Model.Id" />

            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input id="Name" name="Name" value="@Model.Name" class="form-control bg-dark text-white" />
                <span class="text-danger">@Html.ValidationMessageFor(m => m.Name)</span>
            </div>

            <div class="form-group">
                <label for="ImageFile" class="control-label">Upload Image</label>
                <input id="ImageFile" name="ImageFile" type="file" class="form-control" onchange="previewImage(event)" />
                <span class="text-danger">@Html.ValidationMessageFor(m => m.ImageFile)</span>
            </div>

            <div class="form-group">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <label class="control-label">Current Image</label>
                        <div>
                            <img src="~/images/genres/@(Model.Name).png" alt="Current Image" class="img-thumbnail bg-dark text-white" style="max-width: 100%; height: auto;" />
                        </div>
                    </div>
                    <div class="col">
                        <i class="fas fa-arrow-right fa-3x text-muted"></i>
                    </div>
                    <div class="col-6">
                        <label class="control-label">New Image</label>
                        <div>
                            <img id="imagePreview" src="#" alt="New Image Preview" class="img-thumbnail bg-dark text-white" style="max-width: 100%; height: auto;" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-warning">Save</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function previewImage(event) {
            const input = event.target;
            const reader = new FileReader();
            reader.onload = function () {
                const imagePreview = document.getElementById('imagePreview');
                imagePreview.src = reader.result;

                // Check if there is already an image present
                const currentImage = document.getElementById('currentImage');
                if (currentImage.src !== "") {
                    document.getElementById('ImageFile').removeAttribute('required');
                } else {
                    document.getElementById('ImageFile').setAttribute('required', 'required');
                }
            }
            if (input.files && input.files[0]) {
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
